{
	"debug": false,
	"timezone": "Europe/Kiev",
	"siteUrl": "http://localhost:3000",
	"build": {
		"project": "~/AndroidClient",
		"playground": "~/playground",
		"destination": "~/builds",
		"signing": {
			"storeFile": "~/private-key.jks",
			"storePassword": "123456",
			"keyAlias": "android",
			"keyPassword": "123456"
		}
	},
	"server": {
		"host": "127.0.0.1",
		"port": 3000
	},
	"mail": {
		"from": "admin@localhost",
		"transport": "SMTP",
		"transport_options": {
			"host": "",
			"port": "",
			"secure": true,
			"auth": {
				"user": "",
				"pass": ""
			}
		}
	}
}